


.content {
  padding-left: 5em;
  padding-right: 5em;
}

.flex-h-between {
  display: flex;
  justify-content: space-between;
}

.flex-h-end {
  display: flex;
  justify-content: end;
}

.full-width {
  width: 100%;
}

.rmd-card {
  margin-bottom: 1em;
}