
h6 {
  margin-block-start: 0;
  margin-block-end: 1em;
}

.content {
  padding-left: 5em;
  padding-right: 5em;
}

.event-image {
  height: 100%;
  object-fit: scale-down;
  width: 100%;
}

.flex-h-between {
  display: flex;
  justify-content: space-between;
}

.flex-h-end {
  display: flex;
  justify-content: end;
}

.full-width {
  width: 100%;
}

.rmd-card {
  margin-bottom: 1em;
}