@use "react-md" as *;

@include react-md-utils;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  margin-block-start: 0;
  margin-block-end: 1em;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.cart-item {
  margin-bottom: 1em;
}

.content {
  padding-left: 5em;
  padding-right: 5em;
}

.event-image {
  height: 100%;
  object-fit: scale-down;
  width: 100%;
}

.flex-h {
  display: flex;

  &-between {
    @extend .flex-h;
    justify-content: space-between;
  }

  &-end {
    @extend .flex-h;
    justify-content: end;
  }

  &-start {
    @extend .flex-h;
    justify-content: start;
  }
}

.full-width {
  width: 100%;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-2em {
  margin-top: 2em;
}

.rmd-card {
  margin-bottom: 1em;
}

.small {
  zoom: 0.7;
  -moz-transform: scale(0.7);
}